08-weather-bot/workflow.json
{
  "name": "WF - 08 Weather Bot",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 8 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-432, 0],
      "id": "e70b8a80-2a26-4117-bfe2-bad1f7bfc9ae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://wttr.in/YOUR_CITY?format=j1",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-224, 0],
      "id": "ac2a2b8c-7b7f-4bea-8944-d14d15579f76",
      "name": "Get Weather Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "6966afa3", "name": "temp", "value": "={{ $json.current_condition[0].temp_C }}", "type": "string" },
            { "id": "9195ec2a", "name": "feelsLike", "value": "={{ $json.current_condition[0].FeelsLikeC }}", "type": "string" },
            { "id": "79a0638b", "name": "description", "value": "={{ $json.current_condition[0].weatherDesc[0].value }}", "type": "string" },
            { "id": "1b7afa36", "name": "maxTemp", "value": "={{ $json.weather[0].maxtempC }}", "type": "string" },
            { "id": "a9df902b", "name": "minTemp", "value": "={{ $json.weather[0].mintempC }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-16, 0],
      "id": "745d9d39-9b1e-4388-b921-e8b25bbb5690",
      "name": "Extract Weather Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "adb6552e", "leftValue": "={{ $json.description.toLowerCase() }}", "rightValue": "rain", "operator": { "type": "string", "operation": "contains" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [192, 0],
      "id": "9ba764dd-ba28-4e2d-af54-de0570e300e2",
      "name": "Check For Rain"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=☀️ Today's weather\n━━━━━━━━━━━━━━━━━━━━\n🌡 Now: {{ $json.temp }}°C\n🤔 Feels like: {{ $json.feelsLike }}°C\n🌤 Forecast: {{ $json.description }}\n📈 Max: {{ $json.maxTemp }}°C | Min: {{ $json.minTemp }}°C\n━━━━━━━━━━━━━━━━━━━━\n☂️ Rain expected — take an umbrella!",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [400, -96],
      "id": "76743955-477d-4083-b17a-cb66536787cf",
      "name": "Send Weather With Rain Warning",
      "credentials": {
        "telegramApi": { "id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=☀️ Today's weather\n━━━━━━━━━━━━━━━━━━━━\n🌡 Now: {{ $json.temp }}°C\n🤔 Feels like: {{ $json.feelsLike }}°C\n🌤 Forecast: {{ $json.description }}\n📈 Max: {{ $json.maxTemp }}°C | Min: {{ $json.minTemp }}°C\n━━━━━━━━━━━━━━━━━━━━",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [416, 128],
      "id": "ef067f72-7e73-49d1-beee-79a8f6f45345",
      "name": "Send Weather",
      "credentials": {
        "telegramApi": { "id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get Weather Data", "type": "main", "index": 0 }]] },
    "Get Weather Data": { "main": [[{ "node": "Extract Weather Fields", "type": "main", "index": 0 }]] },
    "Extract Weather Fields": { "main": [[{ "node": "Check For Rain", "type": "main", "index": 0 }]] },
    "Check For Rain": {
      "main": [
        [{ "node": "Send Weather With Rain Warning", "type": "main", "index": 0 }],
        [{ "node": "Send Weather", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "YOUR_INSTANCE_ID" }
}
