workflow.json
{
  "name": "WF - 01 Lead Capture with Validation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-656, 160],
      "id": "deb39cfb-3925-4c38-9cab-0000f6724e08",
      "name": "Receive Lead Form",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "c6342c3d", "name": "name", "value": "={{ $json.body.name }}", "type": "string"},
            {"id": "825c3dee", "name": "email", "value": "={{ $json.body.email }}", "type": "string"},
            {"id": "c22d5dfc", "name": "message", "value": "={{ $json.body.message }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-416, 160],
      "id": "e0d25ba0-83f6-411a-ab75-e9baf14a88f8",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
          "conditions": [
            {
              "id": "885ab901",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-224, 160],
      "id": "de96be51-4107-49cf-9877-2e5a9017b343",
      "name": "Validate Email"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id"},
        "sheetName": {"__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "name", "displayName": "name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "email", "displayName": "email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "message", "displayName": "message", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "timestamp", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 144],
      "id": "060256b8-c6cd-41ae-a96a-dacf3ee474b9",
      "name": "Save Lead to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account"}
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=New lead!\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nMessage: {{ $json.message }}",
        "additionalFields": {"appendAttribution": false}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "8c7478fc-0bb0-4f77-8726-8060569f2fe5",
      "name": "Notify Owner",
      "credentials": {
        "telegramApi": {"id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot"}
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "Lead submitted without email",
        "additionalFields": {"appendAttribution": false}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [0, 320],
      "id": "d7a8982d-acff-4fa4-ac15-84e138946c6c",
      "name": "Invalid Email Response",
      "credentials": {
        "telegramApi": {"id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot"}
      }
    }
  ],
  "connections": {
    "Receive Lead Form": {"main": [[{"node": "Extract Fields", "type": "main", "index": 0}]]},
    "Extract Fields": {"main": [[{"node": "Validate Email", "type": "main", "index": 0}]]},
    "Validate Email": {
      "main": [
        [{"node": "Notify Owner", "type": "main", "index": 0}, {"node": "Save Lead to Sheets", "type": "main", "index": 0}],
        [{"node": "Invalid Email Response", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"instanceId": "YOUR_INSTANCE_ID"}
}
