WF-26-Helpdesk/WF-26b-Interview-Scheduler.json
{
  "name": "WF - 26b Interview Scheduler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -240
      ],
      "id": "18355270-74b6-4edb-af2b-3105ed07a7a6",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8df7a94b",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/interview",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        -240
      ],
      "id": "37857cce-b281-45f5-a3e4-7fc0ae888a51",
      "name": "Check Command"
    },
    {
      "parameters": {
        "jsCode": "// Отримуємо текст повідомлення та chat_id через метод .first()\nconst messageText = $('Telegram Trigger').first().json.message.text;\nconst chat_id = $('Telegram Trigger').first().json.message.chat.id;\n\n// Розбиваємо текст на частини\nconst parts = messageText.split(' ');\n\n// parts[0] = /interview\n// parts[1] = CAND-ID\n// parts[2] = date (YYYY-MM-DD)\n// parts[3] = time (HH:mm)\n\nconst candidate_id = parts[1] || \"Н/Д\";\nconst interview_date = parts[2] || \"\";\nconst interview_time = parts[3] || \"\";\n\n// Формуємо ISO дату\nconst interview_datetime = (interview_date && interview_time)\n? `${interview_date}T${interview_time}:00`\n: \"Невірно вказана дата/час\";\n\nreturn [{\njson: {\ncandidate_id,\ninterview_date,\ninterview_time,\ninterview_datetime,\nchat_id\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -336
      ],
      "id": "d67a2db2-b1f3-465f-92db-3f930daa6508",
      "name": "Parse Interview Command"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "HR Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 789071781,
          "mode": "list",
          "cachedResultName": "Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=789071781"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "candidate_id",
              "lookupValue": "={{ $json.candidate_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        -336
      ],
      "id": "find-candidate-node",
      "name": "Find Candidate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "HR Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 789071781,
          "mode": "list",
          "cachedResultName": "Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=789071781"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "interview_scheduled",
            "interview_date": "={{ $('Parse Interview Command').item.json.interview_datetime }}"
          },
          "matchingColumns": [
            "candidate_id"
          ],
          "schema": [
            {
              "id": "candidate_id",
              "displayName": "candidate_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interview_date",
              "displayName": "interview_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -336
      ],
      "id": "update-status-node",
      "name": "Update Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Find Candidate').item.json.email }}",
        "subject": "=Запрошення на інтерв'ю — {{ $('Find Candidate').item.json.position }}",
        "message": "=<h2>Вітаємо, {{ $('Find Candidate').item.json.name }}!</h2>\n<p>Запрошуємо вас на інтерв'ю.</p>\n<p><b>Дата:</b> {{ $('Parse Interview Command').item.json.interview_date }}</p>\n<p><b>Час:</b> {{ $('Parse Interview Command').item.json.interview_time }}</p>\n<p>Будь ласка, підтвердіть участь відповіддю на цей лист.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        32,
        -336
      ],
      "id": "a2e12c00-ae25-4348-a3b9-a3f84fdfd850",
      "name": "Gmail",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Interview Command').item.json.chat_id }}",
        "text": "=✅ Інтерв'ю заплановано!\n👤 Кандидат: {{ $('Update Status').item.json.name }}\n📅 Дата: {{ $('Parse Interview Command').item.json.interview_date }}\n🕐 Час: {{ $('Parse Interview Command').item.json.interview_time }}\n📧 Email-запрошення відправлено кандидату",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -336
      ],
      "id": "fc442bac-0e31-4234-a768-5a74dd642574",
      "name": "Telegram Message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        -336
      ],
      "id": "wait-node",
      "name": "Wait"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Interview Command').item.json.chat_id }}",
        "text": "=⏰ НАГАДУВАННЯ — Інтерв'ю через 1 годину!\n👤 Кандидат: {{ $('Update Status').item.json.name }}\n💼 Вакансія: {{ $('Update Status').item.json.position }}\n🕐 Час: {{ $('Parse Interview Command').item.json.interview_time }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -336
      ],
      "id": "0fa6a203-eb64-4741-850e-22b4d797f1cb",
      "name": "Telegram",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=❌ Невідома команда.     \nДля планування інтерв'ю використовуй:  \n/interview CAND-ID YYYY-MM-DD HH:MM  \nПриклад: /interview CAND-001 2024-12-25 15:00",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        -144
      ],
      "id": "dddee4d0-ffaf-4140-a7c0-23a94d9d415d",
      "name": "Error",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Command": {
      "main": [
        [
          {
            "node": "Parse Interview Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Interview Command": {
      "main": [
        [
          {
            "node": "Find Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Candidate": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}