WF-26-Helpdesk/WF-26a-Intake-Pipeline.json
{
  "name": "WF - 26a Intake Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1488,
        -208
      ],
      "id": "70f15f37-1864-4ef8-a0e5-3fa85f276531",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e870b2a",
              "name": "candidate_id",
              "value": "={{ \"CAND-\" + $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "fa72ca76",
              "name": "timestamp",
              "value": "={{ $now.toISO()}}",
              "type": "string"
            },
            {
              "id": "fe50c003",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "554a55b8",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "71f36311",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "1c3677ce",
              "name": "position",
              "value": "={{ $json.body.position }}",
              "type": "string"
            },
            {
              "id": "ded6b70d",
              "name": "=experience",
              "value": "={{ $json.body.experience }}",
              "type": "string"
            },
            {
              "id": "faabc299",
              "name": "skills",
              "value": "={{ $json.body.skills }}",
              "type": "string"
            },
            {
              "id": "6a86c836",
              "name": "status",
              "value": "Новий",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        -208
      ],
      "id": "86074c8b-f62e-415a-a7c8-629c05a1df4d",
      "name": "Prepare Candidate Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"model\": \"llama-3.3-70b-versatile\",\n\"max_tokens\": 500,\n\"messages\": [\n{\n\"role\": \"system\",\n\"content\": \"Ти HR аналітик. Оціни резюме за шкалою 1-10. Відповідай ТІЛЬКИ JSON без markdown: {\\\"score\\\": число, \\\"summary\\\": \\\"текст\\\", \\\"strengths\\\": \\\"текст\\\", \\\"concerns\\\": \\\"текст\\\", \\\"recommendation\\\": \\\"текст\\\"}\"\n},\n{\n\"role\": \"user\",\n\"content\": \"Кандидат: {{ $json.name }}\\nПосада: {{ $json.position }}\\nДосвід: {{ $json.experience }}\\nНавички: {{ $json.skills }}\\nРезюме: {{ $('Webhook').item.json.body.resume_text }}\"\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1008,
        -208
      ],
      "id": "e6344034-c144-4de5-8589-3caff6c2639c",
      "name": "AI Resume Scoring",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Prepare Candidate Data').item.json;\nconst aiContent = $input.item.json.choices[0].message.content;\n\nlet parsed;\ntry {\nconst clean = aiContent\n.replace(/```json\\n?/g, '')\n.replace(/```\\n?/g, '')\n.trim();\nparsed = JSON.parse(clean);\n} catch(e) {\nparsed = {\nscore: 0,\nsummary: 'Помилка парсингу',\nstrengths: '',\nconcerns: '',\nrecommendation: 'Перевір відповідь Groq'\n};\n}\n\nreturn [{\njson: {\n...prev,\nai_score: parsed.score,\nai_summary: parsed.summary,\nai_strengths: parsed.strengths,\nai_concerns: parsed.concerns,\nai_recommendation: parsed.recommendation\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -208
      ],
      "id": "45a9a302-724d-4ac3-ae6b-d5c647a2ca0d",
      "name": "Parse AI Responce"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "HR Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 789071781,
          "mode": "list",
          "cachedResultName": "Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=789071781"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate_id": "={{ $json.candidate_id }}",
            "timestamp": "={{ $json.timestamp }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "position": "={{ $json.position }}",
            "experience": "={{ $json.experience }}",
            "skills": "={{ $json.skills }}",
            "ai_score": "={{ $json.ai_score }}",
            "ai_summary": "={{ $json.ai_summary }}",
            "status": "={{ $json.status }}",
            "ai_strengths": "={{ $json.ai_strengths }}",
            "ai_concerns": "={{ $json.ai_concerns }}",
            "ai_recommendation": "={{ $json.ai_recommendation }}"
          },
          "matchingColumns": [
            "candidate_id"
          ],
          "schema": [
            {
              "id": "candidate_id",
              "displayName": "candidate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience",
              "displayName": "experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_strengths",
              "displayName": "ai_strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_concerns",
              "displayName": "ai_concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_recommendation",
              "displayName": "ai_recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        -208
      ],
      "id": "f0b5f028-0b7f-4892-b532-c66aac734a69",
      "name": "Add to HR Pipeline",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "firstName": "={{ $json.name.split('')[0] }}",
          "jobTitle": "={{ $json.position }}",
          "lastName": "={{ $json.name.split('')[1] || '' }}",
          "phoneNumber": "={{ $json.phone }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -416,
        -208
      ],
      "id": "53b0a22d-45e3-415f-8d6f-e0da3c196656",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "HubSpot App Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "stage": "contractsent",
        "additionalFields": {
          "dealName": "= {{\"Candidate: \" + $('Parse AI Responce').item.json.name + \" — \" + $('Parse AI Responce').item.json.position}}",
          "pipeline": "default"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -208,
        -208
      ],
      "id": "b95a58a1-9350-4a31-966b-6ac989a8ff30",
      "name": "Create a deal",
      "credentials": {
        "hubspotAppToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "HubSpot App Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/contacts/{{ $node[\"Create or update a contact\"].json[\"vid\"] }}/associations/deals/{{ $node[\"Create a deal\"].json[\"dealId\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n{\n\"associationCategory\": \"HUBSPOT_DEFINED\",\n\"associationTypeId\": 4\n}\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        -208
      ],
      "id": "7cb3643b-bc85-4af1-9dd8-2bdd1e6a3e1f",
      "name": "Associate Contact to Deal",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "HubSpot Private App Token"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_HR_EMAIL@example.com",
        "subject": "={{\"Новий кандидат: \" + $('Parse AI Responce').item.json.name + \" | Score: \" + $('Parse AI Responce').item.json.ai_score}}",
        "message": "=<h2>Новий кандидат у системі</h2> <p><b>Ім'я:</b> {{ $('Parse AI Responce').item.json.name }}</p> <p><b>Email:</b> {{ $('Parse AI Responce').item.json.email }}</p> <p><b>Вакансія:</b> {{ $('Parse AI Responce').item.json.position }}</p> <p><b>AI Score:</b> {{ $('Parse AI Responce').item.json.ai_score }}/10</p> <p><b>Оцінка:</b> {{ $('Parse AI Responce').item.json.ai_summary }}</p> <p><b>Рекомендація:</b> {{ $('Parse AI Responce').item.json.ai_recommendation }}</p> <p><b>ID кандидата:</b> {{ $('Parse AI Responce').item.json.candidate_id }}</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        -208
      ],
      "id": "2ea571cc-92e3-4ed4-8a5c-86f84b62510f",
      "name": "Notify HR Manager",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3edc8bd",
              "leftValue": "={{ $('Parse AI Responce').item.json.ai_score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -208
      ],
      "id": "a5162c2f-dbc1-4225-96d5-7b4f03887d24",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse AI Responce').item.json.email }}",
        "subject": "=Тестове завдання - {{ $('Parse AI Responce').item.json.position }}",
        "message": "=<h2>Вітаємо, {{ $('Parse AI Responce').item.json.name }}!</h2>\n<p>Ваше резюме пройшло первинний відбір. Пропонуємо виконати тестове завдання.</p>\n<h3>Завдання:</h3>\n<p>[Опиши тут конкретне завдання для вакансії]</p>\n<p><b>Дедлайн:</b> 3 дні з моменту отримання цього листа.</p>\n<p>Надішліть результат відповіддю на цей лист.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -224
      ],
      "id": "9983d34d-3501-4a43-935e-84684c2707b2",
      "name": "Send Test Task",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse AI Responce').item.json.email }}",
        "subject": "=Ми отримали вашу заяву",
        "message": "=<h2>Дякуємо за заявку!</h2>\n<p>Вашу заявку на посаду <b>{{ $json.position }}</b> успішно отримано.</p>\n<p>Ми розглянемо її та зв'яжемося з вами протягом 3-5 робочих днів.</p>\n<p><b>Номер заявки:</b> {{ $json.candidate_id }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -416,
        -416
      ],
      "id": "b248fb36-b575-455f-af30-806a8bab8ee0",
      "name": "Confirm to Candidate",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🆕 Новий кандидат!\n\n👤 Ім'я: {{ $('Parse AI Responce').item.json.name }}\n📧 Email: {{ $('Parse AI Responce').item.json.email }}\n💼 Вакансія: {{ $('Parse AI Responce').item.json.position }}\n⭐ AI Score: {{ $('Parse AI Responce').item.json.ai_score }}/10\n🆔 ID: {{ $('Parse AI Responce').item.json.candidate_id }}\n\n📝 {{ $('Parse AI Responce').item.json.ai_recommendation }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -400
      ],
      "id": "b6a3d30f-8a0d-4ffb-8587-8a1efa046187",
      "name": "Telegram HR",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"success\": true,\n\"candidate_id\": \"={{ $('Parse AI Responce').item.json.candidate_id }}\",\n\"message\": \"Заявку прийнято\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        -16
      ],
      "id": "4e093f9c-31f9-487f-923a-83f1611e7293",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Candidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Candidate Data": {
      "main": [
        [
          {
            "node": "AI Resume Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Resume Scoring": {
      "main": [
        [
          {
            "node": "Parse AI Responce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Responce": {
      "main": [
        [
          {
            "node": "Add to HR Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to HR Pipeline": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirm to Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Create a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal": {
      "main": [
        [
          {
            "node": "Associate Contact to Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Contact to Deal": {
      "main": [
        [
          {
            "node": "Notify HR Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify HR Manager": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram HR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Test Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}