27-business-dashboard/workflow.json
{
  "name": "WF - 27 Business Dashboard",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{}] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-896, 16],
      "id": "170e6148-1c10-4e9c-b2ac-bd0aaa019e8c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [{\n    \"filters\": [{\n      \"propertyName\": \"createdate\",\n      \"operator\": \"GTE\",\n      \"value\": \"{{ $now.startOf('day').toISO() }}\"\n    }]\n  }],\n  \"limit\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-688, 16],
      "id": "cca3fd55-0b30-4eed-865c-571f5b5242ab",
      "name": "Fetch CRM Leads",
      "credentials": {
        "httpHeaderAuth": { "id": "YOUR_HUBSPOT_CREDENTIAL_ID", "name": "HubSpot API" }
      }
    },
    {
      "parameters": {
        "url": "https://YOUR_REVENUE_API_ENDPOINT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-480, 16],
      "id": "13d26cb6-9504-458f-9001-afdcb6f17e7a",
      "name": "Fetch Revenue Today"
    },
    {
      "parameters": {
        "url": "https://YOUR_TICKETS_API_ENDPOINT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-272, 16],
      "id": "40baad0b-9b82-4fd6-8042-29a658b330e9",
      "name": "Fetch Active Tickets"
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-64, 16],
      "id": "6b2c6f13-352b-42e5-a5e9-6e728c055ed3",
      "name": "Fetch USD Rate"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "e6c1b6ca", "leftValue": "={{ $('Fetch CRM Leads').item.json.total }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } },
            { "id": "894d9aaa", "leftValue": "={{ $('Fetch Revenue Today').item.json.revenue }}", "rightValue": 50, "operator": { "type": "number", "operation": "gt" } },
            { "id": "cb666f8d", "leftValue": "={{ $('Fetch Active Tickets').item.json.tickets.length }}", "rightValue": 20, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [144, 16],
      "id": "ce12e217-598c-4ce0-95a7-ed270b7a860f",
      "name": "Check Critical Metrics"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=🚨 BUSINESS DASHBOARD ALERT!\n📅 {{ $now.toFormat('dd.MM.yyyy HH:mm') }}\n👥 New leads: {{ $('Fetch CRM Leads').item.json.total }}\n💰 Revenue: {{ $('Fetch Revenue Today').item.json.revenue }} EUR\n🎫 Active tickets: {{ $('Fetch Active Tickets').item.json.tickets }}\n💵 USD/UAH rate: {{ $('Fetch USD Rate').item.json.rates.UAH }}\n⚠️ Check dashboard: YOUR_SPREADSHEET_URL",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [352, -80],
      "id": "6662d268-72c7-4174-80be-81ce42f7ebf9",
      "name": "Alert Critical Telegram",
      "credentials": {
        "telegramApi": { "id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toFormat('dd.MM.yyyy HH:mm') }}",
            "leads": "={{ $('Fetch CRM Leads').item.json.total }}",
            "revenue": "={{ $('Fetch Revenue Today').item.json.revenue }}",
            "tickets": "={{ $('Fetch Active Tickets').item.json.tickets }}",
            "usd_rate": "={{ $('Fetch USD Rate').item.json.rates.UAH }}",
            "status": "ok"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "leads", "displayName": "leads", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "revenue", "displayName": "revenue", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "tickets", "displayName": "tickets", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "usd_rate", "displayName": "usd_rate", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [352, 112],
      "id": "7d98290c-ec48-48e8-959f-004a19f760e0",
      "name": "Update Dashboard Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch CRM Leads", "type": "main", "index": 0 }]] },
    "Fetch CRM Leads": { "main": [[{ "node": "Fetch Revenue Today", "type": "main", "index": 0 }]] },
    "Fetch Revenue Today": { "main": [[{ "node": "Fetch Active Tickets", "type": "main", "index": 0 }]] },
    "Fetch Active Tickets": { "main": [[{ "node": "Fetch USD Rate", "type": "main", "index": 0 }]] },
    "Fetch USD Rate": { "main": [[{ "node": "Check Critical Metrics", "type": "main", "index": 0 }]] },
    "Check Critical Metrics": {
      "main": [
        [{ "node": "Alert Critical Telegram", "type": "main", "index": 0 }],
        [{ "node": "Update Dashboard Sheet", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "YOUR_INSTANCE_ID" }
}
