23-auto-invoicing/workflow.json
{
  "name": "WF - 23 Auto Invoicing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trello-done",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1312, 16],
      "id": "dc154c3d-20e5-4aa0-80a3-283609b1935c",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "aed8dc25", "name": "card_id", "value": "={{ $json.body.action.data.card.id }}", "type": "string" },
            { "id": "ff7d30b1", "name": "list_name", "value": "={{ $json.body.action.data.listAfter.name }}", "type": "string" },
            { "id": "4191990c", "name": "client_email", "value": "={{ $json.body.action.data.card.desc.match(/CLIENT:\\s*(.+)/)[1].trim() }}", "type": "string" },
            { "id": "37e97e3e", "name": "project_name", "value": "={{ $json.body.action.data.card.desc.match(/PROJECT:\\s*(.+)/)[1].trim() }}", "type": "string" },
            { "id": "1f431f03", "name": "amount", "value": "={{ $json.body.action.data.card.desc.match(/AMOUNT:\\s*(\\d+)/)[1] }}", "type": "string" },
            { "id": "8fab21e0", "name": "currency", "value": "={{ $json.body.action.data.card.desc.match(/CURRENCY:\\s*(.+)/)[1].trim() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1104, 16],
      "id": "390fbec7-fa78-4cbc-b4a8-432df980df5a",
      "name": "Parse Task Data"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Invoices" },
        "filtersUI": { "values": [{ "lookupColumn": "card_id", "lookupValue": "={{ $json.card_id }}" }] },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-880, 16],
      "id": "ac4fd8ce-8e79-4084-b078-55f848389228",
      "name": "Check Duplicate Invoice",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            { "id": "2284a3c4", "leftValue": "={{ $items().length === 0 }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-704, 16],
      "id": "7b6316be-a5fd-4a16-a978-b38dea922210",
      "name": "Check Task Completed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.eu/invoice/v3/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_email\": \"{{ $('Parse Task Data').item.json.client_email }}\",\n  \"invoice_number\": \"INV-{{ Date.now() }}\",\n  \"date\": \"{{ new Date().toISOString().split('T')[0] }}\",\n  \"due_date\": \"{{ new Date(Date.now()+30*86400000).toISOString().split('T')[0] }}\",\n  \"line_items\": [{\n    \"name\": \"{{ $('Parse Task Data').item.json.project_name }}\",\n    \"rate\": {{ $('Parse Task Data').item.json.amount }},\n    \"quantity\": 1\n  }],\n  \"currency_code\": \"{{ $('Parse Task Data').item.json.currency }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-480, 96],
      "id": "c0af5341-f93f-4169-a3e7-bd357c10b7ca",
      "name": "Generate Invoice API",
      "credentials": {
        "httpHeaderAuth": { "id": "YOUR_ZOHO_CREDENTIAL_ID", "name": "Zoho Invoice API" }
      }
    },
    {
      "parameters": {
        "url": "=https://www.zohoapis.eu/invoice/v3/invoices/{{ $json.invoice.invoice_id }}?accept=pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-304, 96],
      "id": "ceaa76dc-774b-4ed9-9b22-855e1b3f5530",
      "name": "Download Invoice PDF",
      "credentials": {
        "httpHeaderAuth": { "id": "YOUR_ZOHO_CREDENTIAL_ID", "name": "Zoho Invoice API" }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Parse Task Data'].json.client_email }}",
        "subject": "={{ $node['Generate Invoice API'].json.invoice.invoice_number }} — {{ $node['Parse Task Data'].json.project_name }}",
        "message": "=<p>Hello!</p><p>Please find attached invoice #{{ $node['Generate Invoice API'].json.invoice.invoice_number }}</p><p>Project: {{ $node['Parse Task Data'].json.project_name }}</p><p>Amount: {{ $node['Parse Task Data'].json.amount }} {{ $node['Parse Task Data'].json.currency }}</p><p>Thank you for working with us!</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [-112, 96],
      "id": "ff3c1893-ee1d-4bfb-a92c-4265e407eb70",
      "name": "Send Invoice to Client",
      "credentials": {
        "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Invoices" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "card_id": "={{ $node['Parse Task Data'].json.card_id }}",
            "invoice_number": "={{ $node['Generate Invoice API'].json.invoice.invoice_number }}",
            "client_email": "={{ $node['Parse Task Data'].json.client_email }}",
            "amount": "={{ $node['Parse Task Data'].json.amount }}",
            "currency": "={{ $node['Parse Task Data'].json.currency }}",
            "date_created": "={{ new Date().toISOString() }}",
            "status": "sent"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "card_id", "displayName": "card_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "invoice_number", "displayName": "invoice_number", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "client_email", "displayName": "client_email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "amount", "displayName": "amount", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "currency", "displayName": "currency", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "date_created", "displayName": "date_created", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [96, 96],
      "id": "bd6f2646-c059-4758-92a0-7049fa74c751",
      "name": "Log Invoice to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=📄 Invoice sent!\nNumber: {{ $node['Generate Invoice API'].json.invoice.invoice_number }}\n👤 Client: {{ $node['Parse Task Data'].json.client_email }}\n💰 Amount: {{ $node['Parse Task Data'].json.amount }} {{ $node['Parse Task Data'].json.currency }}\n📁 Project: {{ $node['Parse Task Data'].json.project_name }}\n🕐 Time: {{ new Date().toLocaleString() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [304, 96],
      "id": "43cb7cb6-cb10-49c6-b5e2-8f89d79c48cb",
      "name": "Notify Invoice Sent",
      "credentials": {
        "telegramApi": { "id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Task Data", "type": "main", "index": 0 }]] },
    "Parse Task Data": { "main": [[{ "node": "Check Duplicate Invoice", "type": "main", "index": 0 }]] },
    "Check Duplicate Invoice": { "main": [[{ "node": "Check Task Completed", "type": "main", "index": 0 }]] },
    "Check Task Completed": {
      "main": [
        [],
        [{ "node": "Generate Invoice API", "type": "main", "index": 0 }]
      ]
    },
    "Generate Invoice API": { "main": [[{ "node": "Download Invoice PDF", "type": "main", "index": 0 }]] },
    "Download Invoice PDF": { "main": [[{ "node": "Send Invoice to Client", "type": "main", "index": 0 }]] },
    "Send Invoice to Client": { "main": [[{ "node": "Log Invoice to Sheets", "type": "main", "index": 0 }]] },
    "Log Invoice to Sheets": { "main": [[{ "node": "Notify Invoice Sent", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "YOUR_INSTANCE_ID" }
}
