31-Portfolio Assistant/WF-31 Portfolio Assistant.json
{
  "name": "WF - 31 Portfolio Assistant",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Pavlo Portfolio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        0
      ],
      "id": "NODE_READ_PROJECTS_SHEET",
      "name": "Read Projects Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        0
      ],
      "id": "NODE_FILTER_COMPLETED",
      "name": "Filter Completed Projects"
    },
    {
      "parameters": {
        "jsCode": "const projects = $input.all().map(i => i.json);\nconst list = projects.map(p => p.title + ': ' + p.description_uk).join(' | ');\n\nconst systemPrompt = 'Ти — асистент фрілансера Павла. Його напрацювання: ' + list;\n\nconst userMsg = $('Receive Portfolio Question').item.json.message.text;\n\nreturn [{ json: { systemPrompt, userMsg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -96
      ],
      "id": "NODE_BUILD_PORTFOLIO_CTX",
      "name": "Build Portfolio Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"={{ $json.systemPrompt }}\"\n    },\n    {\n      \"role\": \"user\", \n      \"content\": \"={{ $json.userMsg }}\"\n    }\n  ],\n  \"max_tokens\": 1000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        -96
      ],
      "id": "NODE_ASK_GROQ",
      "name": "Ask Groq About Portfolio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "groq"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst answer = response.choices[0].message.content;\nreturn [{ json: { answer } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -96
      ],
      "id": "NODE_EXTRACT_AI_ANSWER",
      "name": "Extract AI Answer"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -96
      ],
      "id": "NODE_SEND_ANSWER_TG",
      "name": "Send Answer Telegram",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        0
      ],
      "id": "NODE_RECEIVE_PORTFOLIO_Q",
      "name": "Receive Portfolio Question",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read Projects Sheet": {
      "main": [
        [
          {
            "node": "Filter Completed Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Completed Projects": {
      "main": [
        [
          {
            "node": "Build Portfolio Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Portfolio Context": {
      "main": [
        [
          {
            "node": "Ask Groq About Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Groq About Portfolio": {
      "main": [
        [
          {
            "node": "Extract AI Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Answer": {
      "main": [
        [
          {
            "node": "Send Answer Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Portfolio Question": {
      "main": [
        [
          {
            "node": "Read Projects Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}