29-Agency Automation/WF-29c_Agency_Weekly_Report.json
{
  "name": "WF - 29c Agency Weekly Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        -352
      ],
      "id": "NODE_SCHEDULE_TRIGGER",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Agency CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PROJECTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        -352
      ],
      "id": "NODE_READ_AGENCY_METRICS",
      "name": "Read Agency Metrics",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst active = rows.filter(r => r.json['Статус'] === 'В роботі').length;\nconst done = rows.filter(r => r.json['Статус'] === 'Завершено').length;\nconst totalPaid = rows.filter(r => r.json['Статус'] === 'Завершено').reduce((sum, r) => sum + (parseFloat(r.json['Оплата']) || 0), 0);\nreturn [{ json: { active, done, totalPaid, week: new Date().toLocaleDateString('uk-UA') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -352
      ],
      "id": "NODE_BUILD_WEEKLY_REPORT",
      "name": "Build Weekly Report"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📊 ТИЖНЕВИЙ ЗВІТ\nТиждень: {{ $json.week }}\n🔄 Активних: {{ $json.active }}\n✅ Завершених: {{ $json.done }}\n💰 Зароблено: {{ $json.totalPaid }} грн",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        -352
      ],
      "id": "NODE_SEND_REPORT_TELEGRAM",
      "name": "Send Report Telegram",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Agency Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Agency Metrics": {
      "main": [
        [
          {
            "node": "Build Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Weekly Report": {
      "main": [
        [
          {
            "node": "Send Report Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}