29-Agency Automation/WF-29e_Agency_Follow_Up.json
{
  "name": "WF - 29e Agency Follow Up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -512
      ],
      "id": "NODE_SCHEDULE_TRIGGER",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Agency CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Статус",
              "lookupValue": "Новий"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1120,
        -512
      ],
      "id": "NODE_READ_PENDING_LEADS",
      "name": "Read Pending Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\ntoday.setHours(0,0,0,0);\nconst twoDaysAgo = new Date(today);\ntwoDaysAgo.setDate(today.getDate()-2);\nconst filtered = $input.all().filter(item => {\n  const rawDate = item.json['Дата'];\n  if (!rawDate) return false;\n  const datePart = rawDate.toString().split(' ')[0].trim();\n  let dateObj;\n  if (datePart.includes('.')) {\n    const [d,m,y] = datePart.split('.');\n    dateObj = new Date(`${y}-${m}-${d}`);\n  } else { dateObj = new Date(datePart); }\n  dateObj.setHours(0,0,0,0);\n  return dateObj <= twoDaysAgo;\n});\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -512
      ],
      "id": "NODE_CHECK_FOLLOW_UP_DUE",
      "name": "Check Follow Up Due"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        -512
      ],
      "id": "NODE_FILTER_DUE_LEADS",
      "name": "Filter Due Leads"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet list = '';\nfor (const item of items) {\n  const name = item.json[\"Ім'я\"] || 'Без імені';\n  const email = item.json['Email'] || 'Без email';\n  const date = item.json['Дата'] || 'Без дати';\n  list += `• ${name} (${email})\\n  Дата: ${date}\\n`;\n}\nconst message = `⚠️ FOLLOW-UP\\n\\nЄ ${items.length} лідів без відповіді > 2 дні:\\n\\n${list}\\nЗв'яжись з ними!`;\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -592
      ],
      "id": "NODE_PREPARE_FOLLOW_UP_MSG",
      "name": "Prepare Follow Up Message"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        -592
      ],
      "id": "NODE_SEND_FOLLOW_UP_TG",
      "name": "Send Follow Up Telegram",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -528,
        -432
      ],
      "id": "NODE_SKIP_NO_ACTION",
      "name": "Skip No Action Needed"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Leads": {
      "main": [
        [
          {
            "node": "Check Follow Up Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Follow Up Due": {
      "main": [
        [
          {
            "node": "Filter Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Leads": {
      "main": [
        [
          {
            "node": "Prepare Follow Up Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Follow Up Message": {
      "main": [
        [
          {
            "node": "Send Follow Up Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}