22-Helpdesk/WF-22b-Helpdesk-Digest.json
{
  "name": "WF - 22b Helpdesk Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1104,
        -528
      ],
      "id": "b5a37709-0e13-40ee-843d-782840e49d33",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Helpdesk Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        -528
      ],
      "id": "7b5eaebf-e2a3-4b85-a22b-ba1761449a31",
      "name": "Read Open Tickets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Отримуємо всі тікети\nconst tickets = items.map(i => i.json);\n \n// Фільтруємо відкриті (new або in_progress)\nconst open = tickets.filter(t => t.Status === 'new' || t.Status === 'in_progress');\n \n// Підраховуємо за джерелом\nconst bySource = open.reduce((acc, t) => {\n acc[t.Source] = (acc[t.Source] || 0) + 1;\n return acc;\n}, {});\n \nconst report = `📊 Щоденний звіт Helpdesk - ${new Date().toLocaleDateString('uk-UA')}\\n\\n`\n + `🎫 Відкритих тікетів: ${open.length} з ${tickets.length}\\n`\n + `\\n📡 За каналами:\\n`\n + Object.entries(bySource).map(([k,v]) => `  • ${k}: ${v}`).join('\\n');\n \nreturn [{ json: { report } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -528
      ],
      "id": "950b8983-fcfb-44d5-9916-358190f1bcc3",
      "name": "Build Tickets Digest"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.report }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -480,
        -528
      ],
      "id": "f2cd299d-2d5d-4467-bbec-8e420b4d2fda",
      "name": "Send Digest Telegram",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Open Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Open Tickets": {
      "main": [
        [
          {
            "node": "Build Tickets Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tickets Digest": {
      "main": [
        [
          {
            "node": "Send Digest Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}