22-Helpdesk/WF-22c-Help-Telegram.json
{
  "name": "WF - 22c Help Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        -464
      ],
      "id": "c9cd32e7-a0d6-4f83-9610-ed4fe03bec65",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d40620d9-7bf8-4c79-b12d-e312b9279dae",
              "name": "source ",
              "value": "telegram",
              "type": "string"
            },
            {
              "id": "b26f9029-b69e-4e0b-a431-af6919110ac0",
              "name": "name ",
              "value": "={{ $json.message.from.first_name + ' ' + ($json.message.from.last_name || '') }}",
              "type": "string"
            },
            {
              "id": "cae61a47-a9a5-4de2-a883-860a3eda55ad",
              "name": "email ",
              "value": "no-email@telegram.com",
              "type": "string"
            },
            {
              "id": "fbaf3074-d93f-4e79-b02d-e3dda8ce7673",
              "name": "message ",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "630cd60b-ec6e-449d-8b9c-d0b6e608ea13",
              "name": "chat_id ",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "54d74810-d103-49c3-ad2b-2ac9faa6e99e",
              "name": "ticket_id ",
              "value": "={{ Date.now().toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        -464
      ],
      "id": "1d028483-e76b-4244-865c-d908a0432251",
      "name": "Normalize Ticket Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Helpdesk Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json['chat_id '] }}",
            "Timestamp": "={{ new Date().toISOString() }}",
            "Source": "={{ $json['source '] }}",
            "Name": "={{ $json['name '] }}",
            "Message": "={{ $json['message '] }}",
            "Status": "new"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        -464
      ],
      "id": "e17784b7-b904-4d30-8db0-ad1413d89c2d",
      "name": "Save Ticket to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Новий тікет #{{ $('Normalize Ticket Data').item.json['ticket_id '] }}\nДжерело: {{ $('Normalize Ticket Data').item.json['source '] }}\nВід: {{ $('Normalize Ticket Data').item.json['name '] }}\nПовідомлення: {{ $('Normalize Ticket Data').item.json['message '] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -304,
        -464
      ],
      "id": "3199e27c-1f1b-4561-b320-ff0b2b859a44",
      "name": "Check Priority",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3927ceb-5f03-440e-b67d-b5594db015c4",
              "leftValue": "={{ $('Save Ticket to Sheets').item.json.Source }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -464
      ],
      "id": "0eac9a29-3fc8-4b17-b612-7899ca0de286",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Ticket Data').item.json['chat_id '] }}",
        "text": "=Ваш запит отримано!   \nНомер тікету: #{{ $('Normalize Ticket Data').item.json['ticket_id '] }}\nМи розглянемо його найближчим часом. Дякуємо за звернення!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        -576
      ],
      "id": "cc9e23a4-aef6-475a-87ba-c63a4aca056c",
      "name": "Notify Agent Urgent",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Ticket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Ticket Data": {
      "main": [
        [
          {
            "node": "Save Ticket to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Ticket to Sheets": {
      "main": [
        [
          {
            "node": "Check Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Priority": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Notify Agent Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}