22-Helpdesk/WF-22a-Helpdesk-Webhook.json
{
  "name": "WF - 22a Helpdesk Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helpdesk-form",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        -496
      ],
      "id": "639c7066-bf05-4e34-a58c-a654b8e93fcc",
      "name": "Webhook",
      "webhookId": "7ab32d40-2563-462a-8b8d-26197475d43f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d40620d9-7bf8-4c79-b12d-e312b9279dae",
              "name": "source ",
              "value": "website",
              "type": "string"
            },
            {
              "id": "b26f9029-b69e-4e0b-a431-af6919110ac0",
              "name": "name ",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "cae61a47-a9a5-4de2-a883-860a3eda55ad",
              "name": "email ",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "fbaf3074-d93f-4e79-b02d-e3dda8ce7673",
              "name": "message ",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "54d74810-d103-49c3-ad2b-2ac9faa6e99e",
              "name": "ticket_id ",
              "value": "={{ Date.now().toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -496
      ],
      "id": "1c4ba448-1f13-41a3-86c4-3f657daea697",
      "name": "Normalize Ticket Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Helpdesk Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toISOString() }}",
            "Source": "={{ $json['source '] }}",
            "Name": "={{ $json['name '] }}",
            "Email": "={{ $json['email '] }}",
            "Message": "={{ $json['message '] }}",
            "Status": "new"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        -496
      ],
      "id": "21fd636a-6582-4b28-8653-ca6f630a0354",
      "name": "Save Ticket to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Новий тікет #{{ $('Normalize Ticket Data').item.json['ticket_id '] }}\nДжерело: {{ $json.Source }}\nВід:  {{ $json.Name }}\nEmail: {{ $json.Email }}\nПовідомлення: {{ $json.Message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        -496
      ],
      "id": "cd9730c4-7778-42b9-a37f-2d2cb668660e",
      "name": "Notify Agent Telegram",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Ticket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Ticket Data": {
      "main": [
        [
          {
            "node": "Save Ticket to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Ticket to Sheets": {
      "main": [
        [
          {
            "node": "Notify Agent Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}