06-crypto-monitor/workflow.json
{
  "name": "WF - 06 Crypto Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours" }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-400, -16],
      "id": "01473898-ce5d-46c9-aa62-9fc243e2a4c1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-192, -16],
      "id": "6eaa9272-5a87-46be-90bc-23411491cf14",
      "name": "Get BTC Price"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "7084cbf7", "name": "current_price", "value": "={{ $json.bitcoin.usd }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [16, -16],
      "id": "9f873970-d3ed-4789-9e93-aee41758ebe7",
      "name": "Save Current Price"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "BTC" },
        "filtersUI": { "values": [] },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [224, -16],
      "id": "09ee2e3f-79e6-44c3-a14a-44dc44f2e5fc",
      "name": "Get Previous Price",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "bb5f7937",
              "leftValue": "={{ Math.abs(($('Save Current Price').item.json.current_price - $('Get Previous Price').item.json.price_usd) / $('Get Previous Price').item.json.price_usd * 100) }}",
              "rightValue": "3",
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [432, -16],
      "id": "1492b2b8-4fe4-440e-8856-b608bbf15e67",
      "name": "Price Changed"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=🚨 BTC ALERT!\n\nCurrent price: ${{ $('Save Current Price').item.json.current_price.toLocaleString() }}\nPrevious price: ${{ $('Get Previous Price').item.json.price_usd.toLocaleString() }}\nChange: {{ Math.abs(($('Save Current Price').item.json.current_price - $('Get Previous Price').item.json.price_usd) / $('Get Previous Price').item.json.price_usd * 100).toFixed(2) }}%\n\n{{ $('Save Current Price').item.json.current_price > $('Get Previous Price').item.json.price_usd ? '📈 Rising' : '📉 Falling' }}\n\n⏰ {{ new Date().toLocaleString() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [640, -224],
      "id": "df8011f7-3b89-464b-977b-ae3653765868",
      "name": "Send Alert",
      "credentials": {
        "telegramApi": { "id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "BTC" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "price_usd": "={{ $('Get BTC Price').item.json.bitcoin.usd }}",
            "previous_price": "={{ $('Get Previous Price').last().json.price_usd }}",
            "change_percent": "={{ Math.abs(($('Save Current Price').item.json.current_price - $('Get Previous Price').item.json.price_usd) / $('Get Previous Price').item.json.price_usd * 100).toFixed(2) }}%",
            "alert_sent": "=YES"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "price_usd", "displayName": "price_usd", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "previous_price", "displayName": "previous_price", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "change_percent", "displayName": "change_percent", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "alert_sent", "displayName": "alert_sent", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [848, 0],
      "id": "c7ba4448-f72c-479f-966d-b6c97cb75846",
      "name": "Update Price Log",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get BTC Price", "type": "main", "index": 0 }]] },
    "Get BTC Price": { "main": [[{ "node": "Save Current Price", "type": "main", "index": 0 }]] },
    "Save Current Price": { "main": [[{ "node": "Get Previous Price", "type": "main", "index": 0 }]] },
    "Get Previous Price": { "main": [[{ "node": "Price Changed", "type": "main", "index": 0 }]] },
    "Price Changed": {
      "main": [
        [{ "node": "Send Alert", "type": "main", "index": 0 }],
        [{ "node": "Update Price Log", "type": "main", "index": 0 }]
      ]
    },
    "Send Alert": { "main": [[{ "node": "Update Price Log", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "YOUR_INSTANCE_ID" }
}
