30-Social Media Crosspost/WF-30_Social_Media_Crosspost.json
{
  "name": "WF - 30 Social Media Crosspost",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        32
      ],
      "id": "NODE_TELEGRAM_TRIGGER",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cond-1",
                    "leftValue": "={{ $json.message.document.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "cond-2"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -960,
        16
      ],
      "id": "NODE_SWITCH",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/getFile?file_id={{ $json.message.document.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        -208
      ],
      "id": "NODE_GET_DOC_PATH",
      "name": "Get Document Path"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot${TELEGRAM_BOT_TOKEN}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        -208
      ],
      "id": "NODE_DOWNLOAD_FILE",
      "name": "Download File"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().binary?.data?.data;\nconst text = Buffer.from(b, 'base64').toString('utf-8');\nconst p = JSON.parse(text.trim());\nreturn [{ json: {\n  platforms: p.platform || ['facebook'],\n  text: p.text || '',\n  image_url: p.image_url || null,\n  hashtags: p.hashtags || '',\n  full_text: (p.text||'') + '\\n\\n' + (p.hashtags||'')\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -208
      ],
      "id": "NODE_PARSE_JSON",
      "name": "Parse JSON Content"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.full_text || $json.message?.caption || $json.message?.text || '';\nreturn [{\n  json: {\n    facebook_text: text,\n    instagram_text: text.substring(0, 2200),\n    linkedin_text: text.substring(0, 3000),\n    twitter_text: text.substring(0, 280),\n    telegram_text: text,\n    has_image: !!($json.image_url || $json.message?.photo)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        64
      ],
      "id": "NODE_FORMAT_POST",
      "name": "Format Post Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/${YOUR_PAGE_ID}/feed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"{{ $json.facebook_text }}\", \"access_token\": \"${FACEBOOK_ACCESS_TOKEN}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        64
      ],
      "id": "NODE_POST_FACEBOOK",
      "name": "Post to Facebook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/${YOUR_IG_USER_ID}/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.image_url }}\",\n  \"caption\": \"{{ $json.instagram_text }}\",\n  \"access_token\": \"${INSTAGRAM_ACCESS_TOKEN}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        64
      ],
      "id": "NODE_POST_INSTAGRAM",
      "name": "Post to Instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:${YOUR_LINKEDIN_PERSON_ID}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": { \"text\": \"{{ $json.linkedin_text }}\" },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": { \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        64
      ],
      "id": "NODE_POST_LINKEDIN",
      "name": "Post to LinkedIn",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LinkedIn OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": \"{{ $json.twitter_text }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        64
      ],
      "id": "NODE_POST_TWITTER",
      "name": "Post to Twitter/X"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Document Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Post Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Post Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document Path": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Parse JSON Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Content": {
      "main": [
        [
          {
            "node": "Format Post Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Post Text": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Post to Twitter/X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}