13-news-digest/workflow.json
{
  "name": "WF - 13 News Digest",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 10, "triggerAtMinute": 30 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-720, -16],
      "id": "97ca7b9b-44ae-446d-8de3-7e2748434d6d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "YOUR_SEARCH_TOPIC" },
            { "name": "language", "value": "en" },
            { "name": "pageSize", "value": "10" },
            { "name": "sortBy", "value": "publishedAt" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-512, -16],
      "id": "a3f7695c-33bc-4ba4-85b0-77049c3a944b",
      "name": "Fetch News by Topic",
      "credentials": {
        "httpHeaderAuth": { "id": "YOUR_NEWSAPI_CREDENTIAL_ID", "name": "NewsAPI Header Auth" }
      }
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.articles || [];\nconst top10 = articles.slice(0, 10);\n\nlet emailBody = `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden;\">\n<div style=\"background-color: #1a73e8; color: white; padding: 20px; text-align: center;\">\n<h2 style=\"margin: 0; font-size: 22px;\">🗞 Daily News Digest</h2>\n<p style=\"margin: 5px 0 0 0; opacity: 0.9;\">Date: ${$now.toFormat('dd.MM.yyyy')}</p>\n</div>\n<div style=\"padding: 20px; background-color: #ffffff;\">\n`;\n\ntop10.forEach((item, index) => {\n  emailBody += `\n<div style=\"margin-bottom: 20px; padding-bottom: 15px; ${index < top10.length - 1 ? 'border-bottom: 1px solid #f0f0f0;' : ''}\">\n<h3 style=\"margin: 0 0 10px 0;\">\n<a href=\"${item.url}\" style=\"color: #1a73e8; text-decoration: none;\">${item.title}</a>\n</h3>\n<p style=\"font-size: 14px; color: #555; line-height: 1.4; margin: 0 0 10px 0;\">${item.description || ''}</p>\n<small style=\"color: #999;\">Source: ${item.source?.name || 'RSS'} | ${item.publishedAt ? new Date(item.publishedAt).toLocaleTimeString() : ''}</small>\n</div>\n`;\n});\n\nemailBody += `</div>\n<div style=\"background-color: #f9f9f9; padding: 15px; text-align: center; font-size: 12px; color: #777;\">Auto-generated by n8n</div>\n</div>`;\n\nconst allTitles = top10.map(a => a.title).join(' | ');\nconst allUrls = top10.map(a => a.url).join('\\n');\nconst firstSource = top10[0]?.source?.name || 'RSS';\n\nreturn [{\n  json: {\n    emailBody,\n    subject: `Daily Digest: ${top10[0]?.title?.substring(0, 50)}...`,\n    telegramText: top10.map((a, i) => `${i+1}. *${a.title}*\\n🔗 ${a.url}`).join('\\n\\n'),\n    sheet_date: $now.toFormat('dd.MM.yyyy HH:mm'),\n    sheet_topic: allTitles,\n    sheet_urls: allUrls,\n    sheet_source: firstSource\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-304, -16],
      "id": "6313173e-dcbe-4f94-8762-88ec1ac8c715",
      "name": "Build HTML Digest"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL",
        "subject": "={{ $('Build HTML Digest').item.json.subject }}",
        "message": "={{ $('Build HTML Digest').item.json.emailBody }}",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [160, -16],
      "id": "7edcc060-abbe-4917-b21e-5f5f21e8762b",
      "name": "Send Digest Email",
      "credentials": {
        "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $('Build HTML Digest').item.json.telegramText }}",
        "additionalFields": { "appendAttribution": false, "parse_mode": "Markdown" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [352, -16],
      "id": "91df6d72-face-41ee-bdc2-1cca78c9003e",
      "name": "Send to Telegram",
      "credentials": {
        "telegramApi": { "id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "news" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('Build HTML Digest').item.json.sheet_date }}",
            "topic": "={{ $('Build HTML Digest').item.json.sheet_topic }}",
            "articles_urls": "={{ $('Build HTML Digest').item.json.sheet_urls }}",
            "source": "={{ $('Build HTML Digest').item.json.sheet_source }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "date", "displayName": "date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "topic", "displayName": "topic", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "articles_urls", "displayName": "articles_urls", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "source", "displayName": "source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [560, -16],
      "id": "8fb8d104-8e79-4167-8b2d-37f81d14d831",
      "name": "Log Digest to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch News by Topic", "type": "main", "index": 0 }]] },
    "Fetch News by Topic": { "main": [[{ "node": "Build HTML Digest", "type": "main", "index": 0 }]] },
    "Build HTML Digest": { "main": [[{ "node": "Send Digest Email", "type": "main", "index": 0 }]] },
    "Send Digest Email": { "main": [[{ "node": "Send to Telegram", "type": "main", "index": 0 }]] },
    "Send to Telegram": { "main": [[{ "node": "Log Digest to Sheets", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "YOUR_INSTANCE_ID" }
}
