07-client-broadcast/workflow.json
{
  "name": "WF - 07 Client Broadcast",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "triggerAtDay": [1], "triggerAtHour": 10 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-544, 0],
      "id": "317051cc-57b1-4bb2-8623-c9735af4b2af",
      "name": "Weekly Broadcast Trigger"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Clients" },
        "filtersUI": { "values": [] },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-336, 0],
      "id": "0560d7d4-2c82-4c63-ba3c-55e33664f1fa",
      "name": "Get Active Clients",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "630ce9a0", "leftValue": "={{ $json.status }}", "rightValue": "active", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-128, 0],
      "id": "fc5d1da4-022f-46b4-adac-b5d838576efb",
      "name": "Filter Active Only"
    },
    {
      "parameters": { "amount": 2 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [96, -16],
      "id": "ca452a10-036e-49c8-99c6-eac872519167",
      "name": "Anti-Spam Wait",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=👋 Hi, {{ $json.name }}!\n🔥 This week's special offer:\n🎁 20% discount on all services until Friday.\n📞 Reply to get details or click below.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  { "text": "Order with discount", "additionalFields": { "url": "https://t.me/YOUR_USERNAME" } },
                  { "text": "Contact us", "additionalFields": { "url": "https://t.me/YOUR_USERNAME" } }
                ]
              }
            }
          ]
        },
        "additionalFields": { "appendAttribution": false, "parse_mode": "Markdown" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [272, -16],
      "id": "c171dc13-f690-4ab8-a834-0e204f2ef472",
      "name": "Send Personalized Message",
      "credentials": {
        "telegramApi": { "id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"send_timestamp\": \"{{ $now.toISO() }}\",\n  \"client_name\": \"{{ $('Get Active Clients').item.json.name }}\",\n  \"client_chat_id\": \"{{ $('Get Active Clients').item.json.chat_id }}\",\n  \"sent_status\": \"sent\",\n  \"message_id\": {{ $json.message_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, -16],
      "id": "b9615372-4873-4e6e-92a9-32a9fb995841",
      "name": "Log Sent Result"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "1585627070", "mode": "list", "cachedResultName": "Broadcast_Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "client_name": "={{ $('Get Active Clients').item.json.name }}",
            "chat_id": "={{ $('Get Active Clients').item.json.chat_id }}",
            "status": "={{ $('Get Active Clients').item.json.status }}",
            "message_id": "={{ $('Send Personalized Message').item.json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "timestamp", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "client_name", "displayName": "client_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "chat_id", "displayName": "chat_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "message_id", "displayName": "message_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [624, -16],
      "id": "393da7a6-5c95-4088-bb82-c9401c21b4b6",
      "name": "Log to Broadcast_Log",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    }
  ],
  "connections": {
    "Weekly Broadcast Trigger": { "main": [[{ "node": "Get Active Clients", "type": "main", "index": 0 }]] },
    "Get Active Clients": { "main": [[{ "node": "Filter Active Only", "type": "main", "index": 0 }]] },
    "Filter Active Only": { "main": [[{ "node": "Anti-Spam Wait", "type": "main", "index": 0 }], []] },
    "Anti-Spam Wait": { "main": [[{ "node": "Send Personalized Message", "type": "main", "index": 0 }]] },
    "Send Personalized Message": { "main": [[{ "node": "Log Sent Result", "type": "main", "index": 0 }]] },
    "Log Sent Result": { "main": [[{ "node": "Log to Broadcast_Log", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "YOUR_INSTANCE_ID" }
}
